*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 576px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: italic;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 45px;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.header > h1 {
  font-size: 2rem;
}
.header__localization {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b2b2b2;
  padding: 1rem 0rem;
}
.header__localization i {
  margin-right: 1rem;
}
.header__localization span {
  font-size: 1.2rem;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.footer__logo {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
}
.footer__list {
  margin: 0;
}
.footer__listElement {
  display: flex;
  padding: 0 0.5rem;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer__icon {
  margin-right: 0.5rem;
}

.description {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  max-width: 100%;
  padding: 3rem 0rem;
}
.description > h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.description > span {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.description > button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.2rem;
  background-image: linear-gradient(#9356dc 0%, #ff79da 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.description > button:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.description > button a {
  text-decoration: none;
  color: inherit;
}
.description > h2 {
  font-size: 1.5rem;
}

.features {
  padding: 0.5rem;
}
.features > h2 {
  font-size: 1.5rem;
}
.features .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .step {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem;
  font-size: 1.3rem;
  border-radius: 3rem;
  border-style: none;
  background-color: #eaeaea;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.features .step:hover {
  background-color: #ffe3f7;
}
.features .step:hover > .step--description > i {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #9356dc;
}
.features .step--description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.features .step--number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  right: 0.9rem;
  color: #fff;
  text-align: center;
}

.restaurants {
  padding: 0.5rem;
  background-color: #eaeaea;
}
.restaurants > h2 {
  font-size: 1.5rem;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.restaurants__card {
  max-width: 24rem;
  max-height: 37rem;
  border-style: none;
  border-radius: 1rem;
  background-color: #fff;
}
.restaurants__cardImage {
  border-radius: inherit;
  object-fit: contain;
  position: relative;
}
.restaurants__cardImage > img {
  border-radius: inherit;
  display: block;
  object-fit: contain;
  width: 100%;
}
.restaurants__cardImage > span {
  position: absolute;
  display: block;
  top: 1rem;
  right: 0.75rem;
  border-style: none;
  border-radius: 10px;
  background: #99e2d0;
  padding: 0.2rem;
  color: #1b6150;
  font-size: 1rem;
}
.restaurants__cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.restaurants__cardText > h3 {
  font-size: 1.3rem;
}
.restaurants__cardText > span {
  font-size: 1.2rem;
}
.restaurants__cardIcon > .far {
  display: inline;
}
.restaurants__cardIcon > .fas {
  display: none;
}
.restaurants__cardIcon:hover > .far {
  display: none;
}
.restaurants__cardIcon:hover > .fas {
  display: inline;
  cursor: pointer;
  transition-duration: 0.25s;
  background: linear-gradient(#9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
