*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 576px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: italic;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 45px;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__localization {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  background-color: #b2b2b2;
}
.header__localization i {
  margin-right: 1rem;
}

.form {
  width: 100%;
  padding-bottom: 0.5rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
  background: #9356dc;
  line-height: 5rem;
  padding: 0.5rem;
}
.form__field label {
  color: #99e2d0;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 0.5rem;
}
.form__field input {
  width: 100%;
  background: #ff79da;
  border: 0.1rem solid #9356dc;
  padding: 0.5rem;
  color: #99e2d0;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #9356dc;
  background-color: #ff79da;
  color: #9356dc;
}
.form__field textarea {
  width: 100%;
  color: #9356dc;
  background: #ff79da;
  border: 0.1rem solid #9356dc;
  outline: none;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  max-width: 100%;
  padding: 4rem 0rem;
}
.description > h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.description > p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.description > button {
  width: fit-content;
  background-color: #9356dc;
  border-radius: 50px;
  border-style: none;
}
.description > button > p {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: #fff;
}

.features .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem;
  font-size: 1.8rem;
  border-radius: 50px;
  border-style: none;
  background-color: #eaeaea;
}
.features .step__description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.features .step__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 1.8rem;
  right: 3%;
  color: #fff;
  text-align: center;
}

.restaurants {
  background-color: #eaeaea;
}
.restaurants__card {
  padding: 2rem;
}
.restaurants__card > img {
  object-fit: contain;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
